<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692581220195-m2btmt4t5trolqj039me8t0sriktkbb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692581220195-m2btmt4t5trolqj039me8t0sriktkbb2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692581220195-8rl7k0v02tpvg461ak5tk891mkpgq6em.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQKfF5HvWZxeJ1xUa9JftsDVNrw8ywCJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>692581220195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techShop</string>
	<key>PROJECT_ID</key>
	<string>tech-shop-ea55a</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-shop-ea55a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692581220195:ios:952be4781d0193739f1d56</string>
</dict>
</plist>